*{
  margin:0;
  padding: 0;
}

body{
  background-color:#1695a3;
  color: rgba(255,255,255,.8);
  -webkit-font-smoothing: antialiased;
}

.content{
  padding: 100px 0;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}


nav{
  padding: 50px;
  
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    background:#ddd;
    border-radius: 5px;
     li{
    float: left;
    width: 150px;
    height: 65px;
    line-height: 65px;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    color:rgba(0,0,0,0.7);
    cursor: pointer;
     &:hover{
      background: #d5d5d5;
      border-radius: 5px;
    }
  }
   }   
  }


  ul.drop-menu{
    position:absolute;
    top: 100%;
    left: 0%;
    width:100%;
    padding: 0;
    background:#1695a3;
    li{
      background: #666;
      color: rgba(255,255,255,0.7);
     &:hover{
      background:#606060;
    }
    &:last-child{
      border-radius: 0px 0px 5px 5px;
   }
  }
   
  }

// Default Trigger
//Hide
ul.drop-menu li { 
  display:none;
}
//Show
li:hover > ul.drop-menu li {
  display: block;
}


/* Menu1 */
li:hover > ul.drop-menu.menu-1 li {
  perspective: 1000px;
  opacity: 0;
  @for $i from 1 through 6{
     &:nth-child(#{$i}){
      animation: menu1 300ms (150ms * $i) - 300 ease-in-out forwards; 
    }

  }
   
  
}

@keyframes menu1 {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);}
  100% {
    opacity: 1; 
     transform: rotateY(0deg) translateY(0px);} 
  }